# This file contains an example of the environment variables that are needed to interface with the APIs
# This file is loaded by doing `docker run --env-file creds.production my-container:latest`

# General variables
database_file=ebay_items.db
log_level=INFO
log_file=

# Ebay credentials
ebay_domain=api.sandbox.ebay.com
ebay_appid=
ebay_certid=
ebay_devid=
ebay_token=

# WooCommerce credentials
woo_url=
woo_key=
woo_secret=
