#!/bin/bash

# General variables
export database_file=database/ebay_items.db
export log_level=INFO
export log_file=

# Ebay credentials
export ebay_domain=api.sandbox.ebay.com
export ebay_appid=
export ebay_certid=
export ebay_devid=
export ebay_token=

# WooCommerce credentials
export woo_url=
export woo_key=
export woo_secret=

# Wordpress credentials (quotes because of `@` in username and spaces in the app password)
export wordpress_user=''
export wordpress_app_password=''
